@import "variable";
.cover{
    height: 200px;
    background-color: $second-color;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        margin: 0;
        color:$third-color;
        font-weight: bold;
    }
}
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .feature-item{
        text-align: center;
        padding: 20px;
        width: 350px;
    }
}
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .team-item{
        text-align: center;
        width: 200px;
        height: 200px;
        background-color: black;
        position: relative;
        overflow: hidden;
        margin: 10px 20px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        div{
            position: absolute;
            bottom: 0;
            left: -100%;
            text-align: left;
            width: 100%;
            padding: 10px;
            transition: 0.3s;
            background-color: $first-color;
            color:$third-color;
            h4{
                margin:0 ;
                font-size: 20px;
            }
            p{
                margin: 0;
            }
            
        }
        &:hover{
            div{
                left: 0;
                transition: 0.3s;
            }
        }
    }
}