@import "variable";
.table-cart{
    tbody{
        a{
            text-decoration: none;
            color:#000;
        }
        tr{
            td{
                vertical-align: middle;
            }
        }
    }
}